.main-navigation {
    background-color: var(--color-secondary);
    padding: 16px 0;
}
.main-navigation a,
.main-navigation a:visited {
    color: white;
    font-weight: 600;
}

.main-navigation a:hover {
    color: var(--color-primary);
}
.inner-nav-container {
    flex-basis: 1400px;
    flex-shrink: 1;
    flex-grow: 0;

    margin: 0 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-navigation-links {
    list-style: none;
    flex-basis: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login
 {
    background-color: var(--color-primary);
    border: none;
    padding: 5px 10px;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}
.login:hover {
    background-color: var(--color-primary);
    cursor: pointer;
    border: 1px solid var(--color-secondary-light);
}