html, body, #root { min-height: 100%; margin: 0; background: var(--color-secondary); }

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
  background: var(--color-secondary);
}
.footer-BitBen {
  flex: 0 0 auto;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  text-align: center;
  padding: 16px 0;
  width: 100%;
}