body{
  display: flex ;
  flex-direction: column;
}

main{
  height: 100vh;
  background-color: var(--color-secondary);
}

.footer-BitBen{
  background-color: var(--color-secondary);
  color: var(--color-primary);
  text-align: center;
  padding: 32px 0;
  font-weight: 600;
  position: absolute;
  width: 100%;
  bottom: 0;
  width: 100%;
  flex-grow: 1;

}

