.header {
    color: white;
    background-color: var(--color-secondary);
}

.header img {
    width: 500px;
}

.section-home-branding {
    background-color: var(--color-white);
    text-align: center;
}
h1{
    color: var(--color-white);
}

.Bitgo {
    font-size: 96px;
    font-family: "Open Sans";
    font-weight: bold;

}
.coinitem {
    display: flex;
    border: 2px solid black;
    justify-content: space-around;

}
.coinprice{
    display: flex;
    justify-content: flex-start;
    border: 2px solid black;
}
.listcoins{
    border: 2px solid black;;
}
.coinImage{
    width: auto;
    height: 50px;
}