.body {
    background-color: var(--color-secondary);
}
.header {
    color: white;
    background-color: var(--color-secondary);
}

.header img {
    width: 500px;
}

.section-home-branding {
    background-color: var(--color-secondary);
    text-align: center;
    color: white;
}

h1{
    color: var(--color-white);
}

.Bitgo {
    font-size: 96px;
    font-family: "Open Sans";
    font-weight: bold;

}
.coinitem {
    display: flex;
    align-items: center; /* Zorgt ervoor dat alle items verticaal gecentreerd zijn */
    justify-content: space-between; /* Verdeel de kolommen evenredig */
    padding: 10px;
    margin: 10px 10px 0 10px ;
    gap: 10px;
    background-color: var(--color-tertiary);
    border-radius: 5px;
}

ul{
    display: flex;
    flex-direction: column;
}

.coinitem p {
    flex: 1; /* Zorgt ervoor dat elk item dezelfde breedte heeft */
    text-align: center; /* Centreer de tekst */
    font-size: 20px;
    color: var(--color-white) ;
}

.listcoins{
    background-color: var(--color-secondary);
}

.coinImage{
    width: 50px;
    height: 50px;
    object-fit: contain;
}


.coinprice, .marketcap {
    min-width: 150px; /* Voorkomt dat de tekst verspringt */
    text-align: right;
}